<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/>
    <!--<setting commandTimeout="123"/>-->
  </settings>

  <sqlMaps>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmbulan.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmlevel.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmstatus.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmtahun.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Event.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Notes.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ssapp.xml, CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ssappconfig.xml, CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ssappmenu.xml, CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.SysObjects.xml, CoreNET.Common.Data"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetcols.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetfilters.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetkeys.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetrows.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgettreecols.xml, CoreNET.Common.Ext"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Dmpemda.xml,CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmdok.xml,CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Rpt00datavol.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00app.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appconfig.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appconfigpar.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appkkp.xml, CoreNET.Common.Sys"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appmenu.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appmenuconfig.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appreg.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appregconfig.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appversi.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss00appversiconfig.xml, CoreNET.Common.Sys"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Ss01appmenu.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss01appmenuconfig.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss01appmenukkp.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss10user.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss10userapp.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss10usermenu.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss10usertypes.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss11userol.xml, CoreNET.Common.Sys"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Ss20group.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss20groupconfig.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss20groupmenu.xml, CoreNET.Common.Sys"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ss20groupuser.xml, CoreNET.Common.Sys"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Ss21kkp.xml, CoreNET.Common.Sys"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Ss90dictionary.xml, CoreNET.Common.Sys"/>


  </sqlMaps>
</sqlMapConfig>

