<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/>
    <!--<setting commandTimeout="123"/>-->
  </settings>

  <sqlMaps>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmbulan.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmlevel.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmstatus.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Dmtahun.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Event.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Notes.xml,CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ssapp.xml, CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ssappconfig.xml, CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Ssappmenu.xml, CoreNET.Common.Data"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.SysObjects.xml, CoreNET.Common.Data"/>

    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetcols.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetfilters.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetkeys.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgetrows.xml, CoreNET.Common.Ext"/>
    <sqlMap embedded="CoreNET.Common.BO.XML.Sysgettreecols.xml, CoreNET.Common.Ext"/>

    <!--<sqlMap embedded="CoreNET.Common.BO.XML.Ss90dictionary.xml, CoreNET.Common.Sys"/>-->

  </sqlMaps>
</sqlMapConfig>

