<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Testing" value="0" />
    <add key="URLHome" value="~/App_Portal/PageHome.aspx" />
    <add key="URLLogout" value="~/Logout.aspx" />
    <add key="URLBlank" value="~/Blank.aspx" />
    <add key="URLApp" value="http://localhost:55180/" />
    <add key="URLData" value="http://localhost/SmartDocs/" />
    <add key="URLBase" value="http://localhost:8468/" />
    <add key="URLMenu" value="~/MainMenu.aspx" />
    <add key="DataDir" value="D:/Files/SmartAdmin/" />
    <add key="DataSource" value="dev2019.usadi.co.id" />
    <add key="DataSourceDB" value="V@LID49V7" />
    <add key="Database" value="SMARTDPT" />
    <add key="Password" value="phq2013!" />
    <!--0274CA876D55F6E0-->
    <add key="DataSourceSys" value="mN8UASJrkXzzb7wgf7WdmAIca3rmia+dILAiTfblh7JHise1I5sQSZRU9J5SdeBIXgDBQpYCQXyk49VeKY7MixLdNdyQpdd63baxVTbqGYLv0S8yNCJHQmnkduaRbpJrsNTOv0LR8mVCxyV92Bw1PA==" />
    <!--<add key="DataSourceSys" value="5POEqoXDS5gLkuHUwQiTPfSYhYjGRT5szp9ImqaNK7YSlfFHDQj37yGPNRSqRCpW6n25J91KurZRPGtchLu2Fe5PR33rmHhpsJEQU0MqQdrvZk0vDG7IhLztNYHIEc0RUIKCPWlRAIJq1x0m4NJAJQ==" />-->
    <add key="LBL_INFORMASI" value="Informasi" />
    <add key="MSG_NULL_SESSION" value="Session habis, anda harus login kembali" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 93119CFC-C402-4DF2-99F4-253ADE267A47-->